img {
display: block;
margin: auto;
}

header {
    background-color: rgb(196, 196, 196);
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(196, 196, 196);
    color: rgb(139, 185, 253);
}